{% extends 'gym_maestra.html' %}

{% block title %}Agregar Cliente - Dorians Gym{% endblock %}

{% block content %}



<script>
    $(document).ready(function() {
        $('#cedula').on('input', function() {
            var cedula = $(this).val();
    
            $.ajax({
                type: 'POST',
                url: '/verificar_cedula',
                data: {'cedula': cedula},
                success: function(response) {
                    if (response.unico) {
                        $('#mensaje-cedula').text('Cédula válida.').removeClass('error').addClass('success');
                    } else {
                        $('#mensaje-cedula').text(response.mensaje).removeClass('success').addClass('error');
                    }
                }
            });
        });
    });
    </script>

    

<div class="d-flex justify-content-end mb-3 mt-3">
    <a href="{{ url_for('lista_clientes') }}" class="btn btn-primary mx-2 ml-auto">Volver a Clientes</a>
</div>

    <div class="container mt-4">
        
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                <h1 class="mb-3">Agregar Cliente</h1>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    
                    <div class="mb-3">
                        {{ form.cedula.label(class="form-label") }}
                        {{ form.cedula(class="form-control form-control-sm") }}
                    </div>
                    <div id="mensaje-cedula"></div>
                    <div class="mb-3">
                        {{ form.nombre.label(class="form-label") }}
                        {{ form.nombre(class="form-control form-control-sm") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.apellido.label(class="form-label") }}
                        {{ form.apellido(class="form-control form-control-sm") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.correo.label(class="form-label") }}
                        {{ form.correo(class="form-control form-control-sm") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.telefono.label(class="form-label") }}
                        {{ form.telefono(class="form-control form-control-sm") }}
                    </div>

                    <div class="mb-3">
                        {{ form.fecha_nacimiento.label(class="form-label") }}
                        {{ form.fecha_nacimiento(class="form-control form-control-sm") }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.foto.label(class="form-label") }}
                        {{ form.foto(class="form-control form-control-sm") }}
                    </div>
                    
                    <div class="mb-3 text-center">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Agrega este bloque para los mensajes flash -->
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  

    {% endblock %}
