{% extends 'gym_maestra.html' %}

{% block title %}Asignar Membresía - Dorians Gym{% endblock %}

{% block content %}

<form method="post" id="clienteForm">
    {{ form.hidden_tag() }}
    <label for="termino">Buscar Cliente:</label>
    <input type="text" id="termino" name="termino" placeholder="Escribe el nombre o apellido" required>
    <!-- Utiliza directamente el elemento select para mostrar la lista de resultados -->
    <select name="cliente_seleccionado" id="resultados">
        <!-- Las opciones se llenarán dinámicamente mediante JavaScript -->
    </select>
    <!-- Campos ocultos para almacenar el nombre y apellido seleccionados -->
        <input type="hidden" name="nombre" id="nombre" value="{{ nombre }}">
        <input type="hidden" name="apellido" id="apellido" value="{{ apellido }}">
        <input type="hidden" name="cedula_cliente" id="cedula_cliente" value="{{ cliente.cedula if cliente else '' }}">
    <button type="button" id="seleccionar_cliente">Seleccionar Cliente</button>
</form>

<!-- Mostrar datos del cliente seleccionado -->
<div id="datos_cliente" style="display: none;">
    <p id="nombre_apellido_mostrar"></p>
    
    <!-- Formulario para seleccionar membresía -->
    <form method="post" action="{{ url_for('asignar_membresia', cedula_cliente=cedula_cliente) }}">
        {{ form.hidden_tag() }}

        <label for="membresia">Seleccionar Membresía:</label>
        <select name="membresia" id="membresia" required>
            <option value="" disabled selected>Selecciona una membresía</option>
        </select>

        <button type="submit">Asignar Membresía</button>
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Script para buscar clientes
        var terminoInput = document.getElementById('termino');
        var resultadosSelect = document.getElementById('resultados');
        var nombreInput = document.getElementById('nombre');
        var apellidoInput = document.getElementById('apellido');
        var nombreMostrar = document.getElementById('nombre_mostrar');
        var apellidoMostrar = document.getElementById('apellido_mostrar');
        var seleccionarBtn = document.getElementById('seleccionar_cliente');
        var datosClienteDiv = document.getElementById('datos_cliente');
        var clienteForm = document.getElementById('clienteForm');

        terminoInput.addEventListener('input', function () {
            // Realiza una solicitud AJAX para obtener la lista de clientes que coinciden con el término
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/buscar_clientes/' + terminoInput.value, true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Limpiar las opciones existentes
                    resultadosSelect.innerHTML = "";

                    // Parsea la respuesta JSON
                    var clientes = JSON.parse(xhr.responseText);

                    // Agregar las opciones al select
                    clientes.forEach(function (cliente) {
                        var option = document.createElement("option");
                        option.value = cliente.nombre + " " + cliente.apellido;
                        option.text = cliente.nombre + " " + cliente.apellido;
                        resultadosSelect.add(option);
                    });
                } else {
                    console.error('Error al buscar clientes');
                }
            };

            xhr.send();
        });

        seleccionarBtn.addEventListener('click', function () {
            // Obtener el cliente seleccionado del select
            var clienteSeleccionado = resultadosSelect.value;
            if (clienteSeleccionado) {
                // Dividir el nombre y el apellido
                var nombreApellido = clienteSeleccionado.split(' ');
                var nombre = nombreApellido[0];
                var apellido = nombreApellido.slice(1).join(' ');

                // Actualizar campos ocultos
                nombreInput.value = nombre;
                apellidoInput.value = apellido;

                // Mostrar los datos del cliente
                nombre_apellido_mostrar.textContent = 'Nombre: ' + nombre + ' ' + apellido;

                // Mostrar el div de datos del cliente
                datosClienteDiv.style.display = 'block';
            }
        });

        // Script para obtener membresías
        var xhrMembresias = new XMLHttpRequest();
        xhrMembresias.open('GET', '/obtener_membresias_disponibles', true);

        xhrMembresias.onload = function () {
            if (xhrMembresias.status === 200) {
                // Parsea la respuesta JSON
                var membresias = JSON.parse(xhrMembresias.responseText);
                console.log("Membresias obtenidas", membresias);
                // Obtén el elemento select
                var membresiaSelect = document.getElementById('membresia');
                console.log("Membresia selecionada", membresiaSelect);
                // Agregar las opciones al select
                membresias.forEach(function (membresia) {
                    var option = document.createElement("option");
                    option.value = membresia.id;
                    option.text = membresia.nom_membresia;
                    membresiaSelect.add(option);
                });
            } else {
                console.error('Error al obtener membresías');
            }
        };

        xhrMembresias.send();


    });
</script>


{% endblock %}
