<!-- cumpleanios_proximos.html -->
{% extends 'gym_maestra.html' %}

{% block title %}Cumpleaños Próximos{% endblock %}

{% block content %}
    <h1>Cumpleaños Próximos</h1>

    <div class="d-flex justify-content-center mb-3 mt-3">
        <a href="{{ url_for('agregar_cliente') }}" class="btn btn-success">Añadir Cliente</a>
        <a href="{{ url_for('lista_clientes') }}" class="btn btn-primary mx-2">Lista de Clientes</a>
        <a href="{{ url_for('lista_clientes_inactivos') }}" class="btn btn-danger mx-2">Clientes Inactivos</a>
        
    </div>

    {% if clientes_cumpleanios %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes_cumpleanios %}
                    <tr>
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                        <td>{{ cliente.fecha_nacimiento }}</td>
                        <td>{{ cliente.edad }}</td>
                        <td>
                            <form action="{{ url_for('datos_cliente', id_cliente=cliente.id_cliente) }}" method="get" style="display: inline;">
                                <button type="submit" class="btn btn-primary">Ver Detalles</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay cumpleaños próximos.</p>
    {% endif %}
{% endblock %}