{% if current_user.tiene_rol('cliente') %} {% extends 'base_cliente.html' %} {%
elif current_user.tiene_rol('admin') %} {% extends 'gym_maestra.html' %} {%
endif %} {% block title %}Datos del Cliente - Dorians Gym{% endblock %} {% block
content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1 class="mb-0">{{ cliente['nombre_cliente'] }}</h1>
        </div>
        <div class="card-body">
          {% if cliente['foto_url'] %}
          <div class="text-center mb-3">
            <img
              src="{{ cliente['foto_url'] }}"
              alt="Foto de perfil"
              class="img-fluid rounded-circle"
              style="max-width: 150px"
            />
          </div>
          {% else %}
          <p class="text-center">No hay foto disponible</p>
          {% endif %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Cédula:</strong> {{ cliente['cedula'] }}
            </li>
            <li class="list-group-item">
              <strong>Nombre:</strong> {{ cliente['nombre_cliente'] }}
            </li>
            <li class="list-group-item">
              <strong>Fecha de Nacimiento:</strong> {{
              cliente['fecha_nacimiento'] }}
            </li>
            <li class="list-group-item">
              <strong>Correo:</strong> {{ cliente['correo'] }}
            </li>
            <li class="list-group-item">
              <strong>Teléfono:</strong> {{ cliente['telefono'] }}
            </li>
            <li class="list-group-item">
              <strong>Estado:</strong> {% if cliente['estado'] %}Activo{% else
              %}Inactivo{% endif %}
            </li>
          </ul>

          

          <div class="mt-4">
            <h4>Membresías Activas</h4>
            <ul class="list-group">
              
              
              {% for membresia in membresias_activas %}
                <li class="list-group-item">
                  <strong>Nombre del Plan:</strong> {{ membresia.nombre_plan }} | 
                  <strong>Fecha de Inicio:</strong> {{ membresia.fecha_inicio }} |
                  <strong>Fecha de Finalización:</strong> {{ membresia.fecha_final }} |                  
                  <strong>Precio del Plan:</strong> {{ membresia.precio_plan }}
                </li>
              {% endfor %}
            </ul>
          </div>

        
          


      </div>
    </div>
  </div>
  <div class="mb-5"></div>
</div>
{% endblock %}
