{% extends 'gym_maestra.html' %}

{% block title %}Editar Membresía - Dorians Gym{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Editar Membresía</h1>

        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nueva_fecha_inicio" class="form-label">Fecha de Inicio</label>
                <input type="date" class="form-control" id="nueva_fecha_inicio" name="nueva_fecha_inicio" value="{{ membresia.fecha_inicio }}" required>
            </div>

            <div class="mb-3">
                <label for="nuevo_id_plan" class="form-label">Plan</label>
                <select class="form-select" id="nuevo_id_plan" name="nuevo_id_plan" required>
                    {% for plan in planes %}
                        <option value="{{ plan.id_plan }}" {% if plan.id_plan == membresia.id_plan %}selected{% endif %}>
                            {{ plan.nombre }} - {{ plan.precio }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>

        <pre>{{ membresia }}</pre>
        <pre>{{ planes }}</pre>
    </div>
{% endblock %}
