{% extends 'base.html' %}
<!-- Agrega este bloque para los mensajes flash -->
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% block menu %}


    <!-- Menú específico para admin -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pagina_principal') }}">INICIO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('lista_clientes') }}">CLIENTES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('planes_lista') }}">PLANES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-orange" href="{{ url_for('gestion_membresias') }}">
            MEMBRESIAS
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">SALIR</a>
    </li>
    
    
{% endblock %}
