{% extends 'base.html' %}

{% block menu %}
    <!-- Menú específico para admin -->
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pagina_principal') }}">INICIO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('lista_clientes') }}">CLIENTES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('planes_lista') }}">PLANES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-orange" href="{{ url_for('buscar_clientes_form') }}">
            MEMBRESIAS
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">SALIR</a>
    </li>
    
    
{% endblock %}
