<!-- templates/login.html -->
{% extends 'formulario_base.html' %}

{% block title %}Iniciar Sesión - Dorians Gym{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12"> <!-- Ajusté el valor aquí -->
                <form class="card p-4 shadow" method="post" action="{{ url_for('login') }}" style="margin: auto;">
                    {{ form.hidden_tag() }}

                    <h1 class="h3 mb-3 font-weight-normal text-center">Iniciar Sesión</h1>

                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                    </div>

                    <p class="mt-3 text-muted text-center">
                        ¿No tienes una cuenta? <a href="{{ url_for('registro_cliente') }}" class="text-primary">Crear cuenta nueva</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
