{% extends 'gym_maestra.html' %}

{% block title %}Página Principal - Dorians Gym{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            

            <!-- Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Panel de administracion</h1>
                </div>

                <!-- Botones grandes centrados -->
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="{{ url_for('lista_clientes') }}" class="btn btn-primary btn-lg">GESTION DE CLIENTES</a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ url_for('buscar_clientes_form') }}" class="btn btn-primary btn-lg">GESTION DE MEMBRESIAS</a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ url_for('planes_lista')}}" class="btn btn-primary btn-lg">GESTION DE PLANES</a>
                    </div>
                    
                    <div class="col-md-3">
                        <a href="#" class="btn btn-danger btn-lg">SALIR</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
